CustomerActivity/CustomerMVCApp/Service References/CustomerServiceClient/CustomerServiceLayer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CustomerServiceLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CustomerServiceLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFaultModelError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FaultModelError" nillable="true" type="tns:FaultModelError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFaultModelError" nillable="true" type="tns:ArrayOfFaultModelError" />
  <xs:complexType name="FaultModelError">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultModelError" nillable="true" type="tns:FaultModelError" />
</xs:schema>